/* Установка переменных для темы */
/* Осноные темы */

[data-theme-style='master'] {
    --text-color: #0f0f0f;
    --background-color: #fafafa;
    --second-color: #b096e4;
    --darker-second-color: #8c62df;
}


[data-theme-style='dark'] {
    --text-color: #fafafa;
    --background-color: #0f0f0f;
    --second-color: #b096e4;
    --darker-second-color: #8c62df;
}

/* Перенести в отдельный ксс исключений */
html[data-theme-style='dark'] blockquote h1, html[data-theme-style='dark'] blockquote h2 {
    color: var(--text-color);
}

html[data-theme-style='dark'] blockquote h1 {
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

/* @todo если будет время пользовательские темы */
/* @todo --theme-color установка значения на цветовом круге для hsl прокидка js */
/* :root {
    --theme-color: 120;
} */
[data-theme-style='colored'] {
    --text-color: hsl(var(--theme-color), 15%, 44%);
    --background-color: hsl(var(--theme-color), 30%, 10%);
}

[data-theme-style='colored__dark'] {
    --text-color: hsl(var(--theme-color), 70%, 31%);
    --background-color: hsl(var(--theme-color), 3%, 3%);
}

[data-theme-style='colored__light'] {
    --text-color: hsl(var(--theme-color),4%,5%);;
    --background-color: hsl(var(--theme-color),96%,98%);;
}
