/* Установка переменных для темы */
/* Осноные темы */

[data-theme-style='master'] {
    --color: #0f0f0f;
    --background-color: #fafafa;
    --second-color: #b096e4;
}


[data-theme-style='dark'] {
    --color: #fafafa;
    --background-color: #0f0f0f;

}

/* @todo если будет время пользовательские темы */
[data-theme-style='colored'] {
    --color: hsl(var(--theme-color), 15%, 44%);
    --background-color: hsl(var(--theme-color), 30%, 10%);
}

[data-theme-style='colored__dark'] {
    --color: hsl(var(--theme-color), 70%, 31%);
    --background-color: hsl(var(--theme-color), 3%, 3%);
}

[data-theme-style='colored__light'] {
    --color: hsl(var(--theme-color),4%,5%);;
    --background-color: hsl(var(--theme-color),96%,98%);;
}

