header, footer {
    font-size: 1.2em;
}

/* Шапка */
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 4px 0;
}

/* Подвал */
footer {
    background: var(--text-color);
    color: var(--background-color);
}