header, footer {
    font-size: 1.2em;
}

/* Шапка */
header {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 4px 0;
}

/* Подвал */
footer {
    background: var(--text-color);
    color: var(--background-color);
}

/* Страницы */

/* index */

/* Первая секция */

blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

blockquote h1 {
    border-top: 2px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
}

blockquote h1, blockquote h2 {
    color: var(--background-color);
}

.main-img {
    z-index: -1;
    max-height: 800px;
}

/* Вторая секция */

.goodside {
    margin: 12px 0;
}

.goodside .counter {
    font-size: 4em;
    font-weight: 900;
    opacity: 0.6;
}

.goodside li {
    margin: 10px 0;
}

.goodside img {
    border-radius: 15px;
}

/* Третья секция */
.question__h1 {
    margin: 0;
    font-weight: bold;
    font-size: 5.5em;
}

.contact-us {
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 54px 54px 0 0;
    min-height: 50vh;
}

.margin__contact-us {
    margin-top: 50px;
}

.contact-us input {
    margin-bottom: 6px;
}

.contact-us .btn-container {
    margin-top: 50px;
}

/* Вывод недвижимости */

.item {
    height: 300px;
}

.item img {
    height: 200px;
}

.desription p, .desription ul li, .desription ol li, .contact-house p{
    text-indent: 30px;
    line-height: 30px;
    font-size: 18px;
}

.desription ul li {
    list-style: circle;
    margin-left: 70px;
}

.desription ol li {
    list-style-type: decimal;
    margin-left: 70px;
}

/* contacts page */
.contacts_h1 {
    font-size: 60px;
}

.contacts_h2 {
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .question__h1 {
        margin: 0;
        font-weight: bold;
        font-size: 3em;
    }

    .item {
        width: 90%;
    }
}